* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --primary-color: #434444;
  --secondary-color: #00d5ff;
  --tertiary-color: #ffffff;
}

body {
  background-color: #ebebf4;
}

/* Utility */

section {
  padding: 3%;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
}

/* Utility End */

/* Header */

header {
  padding: 20px 35px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
}

header h1 {
  font-weight: bold;
  font-size: 3vw;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 1% 1% 1% 6%;
  position: relative;
  left: -35px;
}

header nav {
  margin: auto 0 auto 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 5px 10px;
  padding: 5px;
  font-weight: lighter;
  font-size: 1.5vw;
  color: var(--secondary-color);
  border-bottom: 3px solid;
}

header nav ul li a:hover {
  background-color: white;
  color: var(--primary-color);
  font-weight: 500;
}

/* Hero Style Start */

.hero {
  height: 300px;
  background-image: url("./images/seattleBack.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  position: relative;
}

.hero-subtitle {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.5vw;
  padding: 1% 3%;
  margin: auto auto;
  position: absolute;
  right: 5%;
  bottom: 5%;
  text-align: center;
}
span.headshot {
  position: absolute;
  margin: 3% 3%;
  display: flex;
}

#pic {
  border-radius: 15rem;
  width: 15%;
}

/* Hero Style end */

.content {
  width: 80vw;
  margin: auto;
  position: relative;
}

.section-title {
  color: var(--primary-color);
  margin-right: 2%;
  padding-right: 2%;
  border-right: 2px solid;
  text-align: right;
  position: relative;
  width: 10%;
}

.content-right {
  width: 90%;
}

/* About Section */

.about p {
  margin: 1vw;
}

/* About Section End */
.grid-container {
  display: grid;
  grid-template-columns: fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px 15px;
  grid-template-areas: "featured featured featured featured password password" "featured featured featured featured horiseon horiseon" "subster subster react-portfolio react-portfolio . .";
  height: 40vw;
}

.grid-item {
  border: 5px solid;
  border-color: var(--tertiary-color);
  position: relative;
}

.grid-item a {
  color: var(--black);
}

.grid-img {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 15px;
  align-items: flex-end;
  position: relative;
  top: 0x;
  left: 0px;
  overflow: hidden;
}

.grid-img::after {
  content: "";
  height: 100%;
  width: 100%;
  background: var(--tertiary-color);
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  transition: 0.5s;
}

.grid-item:hover .grid-img::after {
  opacity: 0;
}

.grid-subtitle {
  background-color: var(--tertiary-color);
  position: absolute;
  left: 0;
  bottom: 1vw;
  padding: 0.25vw;
}

.grid-subtitle h4 {
  text-align: left;
  margin-left: 0.2vw;
  margin-bottom: 0.1vw;
}

.grid-subtitle p {
  text-align: left;
  padding: 0px;
  margin-left: 0.2vw;
  margin-top: 0.1vw;
}
.featured {
  grid-area: featured;
  background-image: url("./images/vaccineFinder.png");
  background-size: cover;
  background-position: top left;
}
.subster {
  grid-area: subster;
  background-image: url("images/Subster.png");
  background-size: cover;
  background-position: top left;
}
.password {
  grid-area: password;
  background-image: url("images/passwordGenerator.png");
  background-size: cover;
  background-position: top left;
}
.horiseon {
  grid-area: horiseon;
  background-image: url("images/HoriseonMarketing.jpg");
  background-size: cover;
  background-position: top left;
}

/* Contact */
nav.footer {
  margin: 0px 15px;
}

nav.footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav.footer ul li a {
  margin: 5px 10px;
  padding: 5px;
  font-weight: lighter;
  font-size: 1.1vw;
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 2px solid;
  border-color: var(--primary-color);
}

nav.footer ul li a:hover {
  color: white;
  background-color: var(--primary-color);
}

/* Contact End */
@media only screen and (max-width: 900px) {
  span.headshot {
    margin: 5%;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    width: 100%;
  }
  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  .section-title {
    border: none;
    margin: auto;
    margin-bottom: 2vw;
    text-align: center;
    width: 100%;
    font-size: 3.5vw;
  }
  .grid-container {
    display: block;
    grid-template-columns: fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    grid-template-areas: "featured featured featured featured password password" "featured featured featured featured horiseon horiseon" "subster subster react-portfolio react-portfolio . .";
    width: 100%;
    height: 100%;
  }
  .grid-item {
    min-height: 40vw;
    margin: 2vw auto;
  }
  .grid-img {
    min-height: 40vw;
  }
  .contact {
    position: relative;
    bottom: 0;
  }
  .contact {
    position: relative;
    bottom: 0;
  }
  header {
    display: block;
  }
  header a {
    text-decoration: none;
  }
  header h1 {
    font-size: 5vw;
    width: 100%;
    left: 0px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    margin-bottom: 10px;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li {
    width: 100%;
    margin: 25px 0px 25px 0px;
  }
  header nav ul li a {
    width: 100%;
    padding: 5px;
    font-weight: normal;
    font-size: 4vw;
    color: var(--secondary-color);
    border-bottom: 2px solid;
  }
  .hero {
    display: none;
  }
  nav.footer ul {
    display: block;
    width: 100%;
    text-align: center;
  }
  nav.footer ul li {
    margin-top: 2vw;
  }
  nav.footer ul li a {
    font-size: 3vw;
  }
}
